RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-z0-9\-]+)$ index.php?uuid=$1 [QSA,L]

ErrorDocument 401 /app/error/401.html
ErrorDocument 403 /app/error/403.html
ErrorDocument 404 /app/error/404.html
ErrorDocument 500 /app/error/500.html

<FilesMatch "\.(env|htaccess|htpasswd|ini|log|conf|json|bak|zip|tar|rar)$">
    Require all denied
</FilesMatch>

<Files ".env">
    Require all denied
</Files>

<Files "config.php">
    Require all denied
</Files>

Options -Indexes
