# Ativar RewriteEngine
RewriteEngine On

# Redirecionar para HTTPS se estiver em HTTP
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Redirecionar apenas 'minhasvacinas.online' para 'www.minhasvacinas.online'
RewriteCond %{HTTP_HOST} ^minhasvacinas\.online$ [NC]
RewriteRule ^ https://www.minhasvacinas.online%{REQUEST_URI} [R=301,L]

# Páginas de erro personalizadas
ErrorDocument 401 /assets/error/401.html
ErrorDocument 403 /assets/error/403.html
ErrorDocument 404 /assets/error/404.html
ErrorDocument 500 /assets/error/500.html

# Bloquear acesso a arquivos sensíveis
<FilesMatch "^\.(env|htaccess|git|gitignore|htpasswd|config\.php)$">
    Require all denied
</FilesMatch>

# Habilitar Cache de Navegador
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
    ExpiresByType application/x-javascript "access plus 1 month"
</IfModule>
