h1.text-center.mb-4 {
  padding-top: 2%;
}

h1 {
  padding-top: 10%;
  padding-bottom: 1%;
}

.navbar-brand img {
  height: 50px;
}

.nav-link {
  color: white;
  margin-right: 15px;
}

.nav-link:hover {
  color: #f8f9fa;
}

.nav-link.active {
  font-weight: bold;
  color: #0d6efd;
}

.wrapper {
  display: flex;
  min-height: 92vh;
}

.sidebar {
  width: 280px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s;
  z-index: 1000;
}

.sidebar.hide {
  transform: translateX(-100%);
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 280px;
}

@media (max-width: 992px) {
  .dropdown,
  .dropdown-center,
  .dropend,
  .dropstart,
  .dropup,
  .dropup-center {
    margin-bottom: 1%;
  }

  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.show {
    transform: translateX(0);
  }

  .content {
    margin-left: 0;
  }
  h1 {
    padding-top: 13%;
  }

  body {
    transition: background-color 0.3s, color 0.3s;
  }

  body.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
  }

  .form-check-input {
    width: 50px;
    height: 25px;
    background-color: #6c757d;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    appearance: none;
    outline: none;
    position: relative;
  }

  .form-check-input:checked {
    background-color: #0d6efd;
  }

  .preto {
    padding-left: 15px;
  }

  .access-quick {
    padding: 60px 0;
  }

  .access-quick .card {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5px);
    border-radius: 15px;
  }

  .access-quick .card-body {
    padding: 20px;
  }

  .access-quick .card-title {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .access-quick .card-text {
    font-size: 0.9rem;
    color: #666;
  }

  .access-quick .btn-primary {
    background-color: #28a745;
    border-color: #28a745;
  }

  .access-quick .btn-primary:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
}

.theme-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.theme-toggle:hover {
  transform: scale(1.1);
}

.theme-toggle.dark {
  background-color: #121212;
}

body {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #121212;
  color: #fff;
}
