RewriteEngine On
RewriteCond %{HTTP_HOST} ^auth\.minhasvacinas\.online$ [NC]
RewriteCond %{REQUEST_URI} ^/cadastro$ [OR]
RewriteCond %{REQUEST_URI} ^/entrar$
RewriteRule ^(.*)$ /path/to/your/authentication/pages/$1 [L]
