.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1080;
  background-color: #007bff;
}

.navbar-brand img {
  height: 50px;
}

.nav-link {
  color: white;
  margin-right: 15px;
}

.nav-link:hover {
  color: #f8f9fa;
}

.nav-link.active {
  font-weight: bold;
  color: #0d6efd;
  padding: 100px;
}

.btn-login {
  margin-left: 10px;
}

.nav-link:hover {
  text-decoration: underline;
}

.btn-custom {
  margin-left: 110px;
}

.footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.carousel-inner > .carousel-item > img {
  width: 700px;
  height: 400px;
}

.carousel-item img {
  height: 50vh;
  object-fit: cover;
}

.carousel-spacing {
  margin-bottom: 60px;
}

.custom-hr {
  border: 3px solid #000;
  margin: 2rem 0;
}

.noticias {
  background: #b0b0b0;
}

.sec-end {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

h2 {
  font-size: 2.5rem;
  color: #ffffff;
}

.lead {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

h5 {
  margin-top: 1rem;
  font-weight: bold;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

h2 {
  font-size: 2.5rem;
  color: #008545;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header {
  z-index: 9999;
}

.carousel-spacing {
  margin-top: 100px;
  margin-bottom: 60px;
}

.container-slider {
  display: flex;
  width: 100%;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 100%;
}

.slider {
  opacity: 0;
  transition: opacity 0.2s;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.on {
  opacity: 1;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 999;
}

.back-to-top i {
  cursor: pointer;
  transition: opacity 0.3s;
}

.back-to-top:hover i {
  opacity: 0.7;
}

@media (max-width: 992px) {
  .navbar-brand img {
    height: 40px;
  }
  .btn-login {
    margin-top: 10px;
    margin-right: 5%;
  }

  h2 {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  .carousel-item img {
    height: 40vh;
  }

  .card {
    width: 100%;
    margin: 10px 0;

    .btn-custom {
      margin-left: 0;
      display: block;
      margin-top: 10px;
    }
  }

  @media (max-width: 768px) {
    .nav-link {
      margin-right: 10px;
    }

    .footer {
      padding: 15px 0;
    }

    .carousel-inner > .carousel-item > img {
      width: 100%;
    }

    .container-slider {
      flex-direction: column;
    }
  }

  @media (max-width: 576px) {
    .navbar {
      text-align: center;
    }

    .back-to-top {
      bottom: 10px;
      right: 10px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  visibility: hidden;
}

.alert-box {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 2%;
  width: 350px;
  text-align: center;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  animation: fadeIn 0.3s ease-out;
}

.alert-box h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 1.5rem;
}

.alert-box p {
  margin-bottom: 30px;
  color: #666;
  font-size: 1.1rem;
}

.alert-box button {
  padding: 12px 25px;
  background-color: #007bff;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.alert-box button:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: 3px solid #007bff;
  border-radius: 50%;
  padding: 12px;
  font-size: 18px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    border-color: #007bff;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(0, 123, 255, 0.5);
    border-color: #0056b3;
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    border-color: #007bff;
  }
}

.scroll-to-top.show {
  opacity: 1;
  pointer-events: all;
}

.scroll-to-top i {
  transition: transform 0.3s ease;
}

.scroll-to-top:hover i {
  transform: scale(1.2);
}

.scroll-to-top:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
/* Estilo do contêiner de alternância */
.theme-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #f0f0f0;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.theme-toggle:hover {
  transform: scale(1.1);
}

.theme-toggle.dark {
  background-color: #121212;
}

#sunIcon {
  color: #f9c74f;
}

#moonIcon {
  color: #577590;
}

body {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #121212;
  color: #fff;
}
