body {
  padding-top: 80px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar {
  background-color: #007bff;
}

.navbar-brand img {
  height: 50px;
}

.nav-link {
  color: white;
  margin-right: 15px;
}

.nav-link:hover {
  color: #f8f9fa;
}

.nav-link.active {
  font-weight: bold;
  color: #0d6efd;
}

.wrapper {
  display: flex;
  min-height: 92vh;
}

.sidebar {
  width: 280px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s;
  padding-top: 20px;
  z-index: 1000; 
}

.sidebar.hide {
  transform: translateX(-100%);
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 500px;
}

@media (max-width: 992px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.show {
    transform: translateX(0);
  }

  .content {
    margin-left: 0; 
  }
}

body.dark-mode {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.card {
  margin: 20px; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px); 
}

.card-body {
  padding: 20px;
}