body {
  padding-top: 70px;
}

.full-height {
  min-height: 80vh;
  margin-bottom: 100px;
}

.navbar {
  background-color: #007bff;
}

.navbar-brand img {
  height: 50px;
}

.nav-link {
  color: white;
  margin-right: 15px;
}

.nav-link:hover {
  color: #f8f9fa;
}

.nav-link.active {
  font-weight: bold;
  color: #0d6efd;
}

.btn-login {
  margin-left: 10px;
}

.nav-link:hover {
  text-decoration: underline;
}

.btn-custom {
  margin-left: 110px;
}

.footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.custom-hr {
  border: 3px solid #000;
  margin: 2rem 0;
}
.g_id_signin-container {
  display: flex;
  justify-content: center; /* Centraliza o bot達o horizontalmente */
  align-items: center; /* Centraliza o bot達o verticalmente */
  width: 100%;
  height: 100%;
}

.g_id_signin {
  margin: 0 auto; /* Garante que o bot達o fique no centro se o estilo do bot達o mudar */
}